.users{
    display: flex;

    .info{
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 20px;
  
      button{
        padding: 5px;
        cursor: pointer;
      }
    }
  }