.navbar {
    width: 100%;
    padding: 20px;
    display: flex;
    .icons{
        display: flex;
        .user {
            display
            img{
                width: 26px;
                height: 26px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
}