.navbar {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        display: flex;
        align-items: center;
        font-weight: bold;
    }

    .icons{
        display: flex;
        align-items: center;

        .user {
            display: flex;
            align-items: center;

            img{
                width: 26px;
                height: 26px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
}