.navbar {
    width: 100%;
    padding: 20px;
    display: flex;
    .user {
        img{
            width: 26px;
            height: 26px;
            border-radius: 50%;
            ob
        }
    }
}