@import '../../styles/variables.scss';

.home {
    
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 2fr 1fr 1fr;

    .box {
        padding: 20px;
        border-radius: 10px;
        border: 1px solid $soft-bg;
    }
}